/*body {*/
/*font: 10px sans-serif;*/
/*}*/

text {
    fill: #000;
}

path.candle {
    stroke: #000000;
}

path.candle.body {
    stroke-width: 0;
}

path.candle.up {
    fill: #00AA00;
    stroke: #00AA00;
}

path.candle.down {
    fill: #FF0000;
    stroke: #FF0000;
}

path.volume {
    fill: rgba(200, 200, 200, .8);
}

.y.annotation.left path {
    fill: #00AA00;
}

.y.annotation.right path {
    fill: #FF0000;
}

.x.annotation path {
    fill: #DDD80E;
}

.crosshair {
    cursor: crosshair;
}

.crosshair path.wire {
    stroke: #CCCCCC;
    stroke-dasharray: 1, 1;
}

.crosshair .axisannotation path {
    fill: #CCCCCC;
}