<template name="ApplicationLayout">
    <head>
        <title>JAIC - Just An Intraday Chart - Realtime Intraday Candlestick Chart</title>
        <meta name="Description" CONTENT="JAIC is a realtime intraday stock price charting site. It provides live stock data for various market including: NASDAQ, NYSE, AMEX, Singapore (SGX), London, Europe, Hong Kong, Tokyo, Shanghai, Toronto and Australia,
        ">
        <meta name="author" content="BeiSoNg">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <div>
        {{> navbar}}
    </div>

    <div>
        {{> yield region="body"}}
    </div>

    <footer class="footer">
        {{> footer}}
    </footer>

</template>

